@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-gray-700;
  }

  body {
    @apply bg-black text-white;
  }
}

@layer components {
  .btn-primary {
    @apply bg-blue-500 text-white px-4 py-2 rounded-full font-bold hover:bg-blue-600 transition-all disabled:opacity-50 disabled:cursor-not-allowed;
  }

  .btn-secondary {
    @apply border border-gray-600 text-white px-4 py-2 rounded-full font-bold hover:bg-gray-900 transition-all;
  }
}
